<section class="content">
    <div class="back-link">
    <a href="{{ base_url() }}" class="btn btn-accent">Back to main page</a>
</div>

    <div class="container lg animated slideInDown tabs-container">
    	<div class="view-header">
    	    <div class="header-icon">
    		  <i class="pe page-header-icon pe-7s-smile"></i>
    	    </div>
    	    <div class="header-title">
        		<h3>Character selection</h3>
        		<small>
        		    Select one of the following character portraits to continue
        		</small>
    	    </div>
    	</div>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ETM -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1952914247666990"
             data-ad-slot="6026566466"
             data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        <br>

        <div class="panel panel-filled">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> News</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">FAQ</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Changelog</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <h5><strong class="c-white">Latest News</strong></h5>
                        {% if cl_recent %}
                            {% for row in cl_recent %}
                                <b> {{ row.date }} </b> - {{ row.content | raw }} <br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <h5><strong class="c-white">Frequently Asked Questions</strong></h5>
                        <p><b>Q: Is this service free?</b></p>
                                A: Yes, and there are no plans for charging players. If you would like to support this work or server costs and encourage further development feel free to Donate (ISK or $) trough the link in the footer. Disabling your ad-block is also a great help!
                        <br><br>
                        <p><b>Q: Your website isn't pulling my data!</b></p>
                        A: As long as you're able to login and select a character it should be. Remember that Eve Online's API only updates data after certain intervals. These are:
                        <ul>
                            <li>Account Balance: every 15 minutes</li>
                            <li>API key data: every 5 minutes</li>
                            <li>Asset list: every 2 hours</li>
                            <li>Contract list: every 60 minutes</li>
                            <li>Character skills: every 60 minutes</li>
                            <li>Market Orders: every 60 minutes</li>
                            <li>Character standings: every 3 hours</li>
                            <li>Wallet transactions: every 30 minutes</li>
                            <li>CREST Market data: every 5 minutes</li>
                        </ul>
                        If you're absolutely sure your data isn't being pulled drop me a mail at etmdevelopment42 at gmail.com
                        <br><br>
                        <p><b>Q: How do you calculate profits?</b></p>
                        A: Profits are calculated using a <a href='http://www.accountingtools.com/fifo-method' target='blank'>First-in-First-Out </a>method. This means the first items you buy are assumed to be the first items you sell.
                        It's currently impossible to keep a track of each individual item with the current Eve API so this might lead to some inconsistencies in results if you buy items for other purposes on your trading characters (this is why the Unlink feature exists)
                        <br><br>
                        <p><b>Q: Can I have the source code?</b></p>
                        A: The source is available on <a href="https://github.com/uplink42/etmv2/tree/dev" target='blank'>github</a>
                        <br><br>
                        <p><b>Q: Will there be new features after the Beta is over?</b></p>
                        A: Yes. Things like corp API key support are definetly in the list. However I don't have as much time to devote to side projects and can't guarantee any timelines.
                    </div>
                </div>
                <div id="tab-3" class="tab-pane">
                    <div class="panel-body">
                        <h5><strong class="c-white">Changelog</strong></h5>
                        {% if cl %}
                            {% for row in cl %}
                                <b> {{ row.date }} </b> - {{ row.content | raw }} <br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    	<div class="panel panel-filled">
    	    <div class="panel-body">
    		<p></p>
        		<div class="table-responsive">
                    {% if table %}
            		    <table class="table table-responsive table-bordered table-stripped table-hover table-clickable">
                			<thead>
                			    <tr>
                				    <th></th>
                				    <th>Name</th>
                				    <th>Wallet Balance</th>
                				    <th>Assets Value</th>
                				    <th>Escrow</th>
                				    <th>Sell Orders</th>
                			    </tr>
                			</thead>
                			<tbody>
                            {% for char in table[0]['character'] %}

                				{# $id = $char['id'];
                				$name = $char['name'];
                				$balance = $char['balance'];
                				$networth = $char['networth'];
                				$escrow = $char['escrow'];
                				$sell = $char['sell']; #}
                				<tr onclick="window.document.location='{{base_url('dashboard/index/' ~ char['id'])}}'">
                				    <td>
                                        <img src='https://image.eveonline.com/Character/{{ char['id'] }}_32.jpg' alt='character portrait'>
                                    </td>
                				    <td>{{ char['name'] }}</td>
                				    <td class="text-right">{{ char['balance']  | number_format }}</td>
                				    <td class="text-right">{{ char['networth'] | number_format }}</td>
                				    <td class="text-right">{{ char['escrow']   | number_format }}</td>
                				    <td class="text-right">{{ char['sell']     | number_format }}</td>
                				</tr>
                            {% endfor %}
                			    
                			    {# $balance_total = $table[0]['total']['balance_total'];
                			    $networth_total = $table[0]['total']['networth_total'];
                			    $escrow_total = $table[0]['total']['escrow_total'];
                			    $sell_total = $table[0]['total']['sell_total']; #}
                				<tr onclick="window.document.location='{{base_url('dashboard/index/' ~ table[0]['character'][0]["id"] ~ '?aggr=1')}}'">
                				    <td></td>
                				    <td><strong>Total</strong></td>
                				    <td class="text-right"><strong>{{ table[0]['total']['balance_total']  | number_format }}</strong></td>
                				    <td class="text-right"><strong>{{ table[0]['total']['networth_total'] | number_format }}</strong></td>
                				    <td class="text-right"><strong>{{ table[0]['total']['escrow_total']   | number_format }}</strong></td>
                				    <td class="text-right"><strong>{{ table[0]['total']['sell_total']     | number_format }}</strong></td>
                				</tr>
                				<tr onclick="window.document.location='{{base_url('dashboard/index/' ~ table[0]['character'][0]["id"] ~ '?aggr=1')}}'">
                				    <td></td>
                				    <td></td>
                				    <td></td>
                				    <td></td>
                				    <td class="text-right yellow"><strong>GRAND TOTAL</strong></td>
                				    <td class="text-right yellow"><strong>{{ table[0]['grand_total'] | number_format }}</strong></td>
                				</tr>
                			</tbody>
                        </table>
                    {% endif %}
        		</div>        
            </div>
        </div>	
    </div>
</section>

