<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {% include 'common/view-header_v' ~ '.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-interval" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Type
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right dropdown-contracts-active">
                                <li><a href="{{ base_url('contracts/index/' ~ character_id ~ '?active=all&inactive=' ~ inactives_filter ~ '&aggr=' ~ aggregate) }}">All</a></li>
                                <li><a href="{{ base_url('contracts/index/' ~ character_id ~ '?active=ItemExchange&inactive=' ~ inactives_filter ~ '&aggr=' ~ aggregate) }}">Item Exchange</a></li>
                                <li><a href="{{ base_url('contracts/index/' ~ character_id ~ '?active=Courier&inactive=' ~ inactives_filter ~ '&aggr=' ~ aggregate) }}">Courier</a></li>
                                <li><a href="{{ base_url('contracts/index/' ~ character_id ~ '?active=Loan&inactive=' ~ inactives_filter ~ '&aggr=' ~ aggregate) }}">Loan</a></li>
                                <li><a href="{{ base_url('contracts/index/' ~ character_id ~ '?active=Auction&inactive=' ~ inactives_filter ~ '&aggr=' ~ aggregate) }}">Auction</a></li>
                            </ul>
                        </div>
                        <div class="panel-tools">
                        </div>
                    </div>
                    <br>
                    <div class="panel-body contracts-active-body">
                        <h5>Active {{ actives_filter }} Contracts</h5>
                        <p class="yellow"></p>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="contracts-active-table">
                                <thead>
                                    <tr>
                                        <th>Creation Time</th>
                                        <th>Expiration Time</th>
                                        <th>Issuer</th>
                                        <th>Acceptor</th>
                                        <th>Availability</th>
                                        <th>Price</th>
                                        <th>Reward</th>
                                        <th>Type</th>
                                        <th>State</th>
                                        <th>Station</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for row in actives %}
                                    <tr>
                                        <td>{{ row['creation'] }}</td>
                                        <td>{{ row['expiration'] }}</td>
                                        <td>{{ row['issuer_name'] }}</td>
                                        <td>{{ row['acceptor_name'] }}</td>
                                        <td>{{ row['avail'] }}</td>
                                        <td>{{ row['price']  | number_format(2) }}</td>
                                        <td>{{ row['reward'] | number_format(2) }}</td>
                                        <td>
                                            {% if row['type'] == 'ItemExchange' %}
                                                <i class='fa fa-eur'></i>
                                            {% endif %}
                                            {% if row['type'] == 'Courier' %}
                                                <i class='fa fa-truck'></i>
                                            {% endif %}
                                            {% if row['type'] == 'Loan' %}
                                                <i class='fa fa-credit-card-alt'></i>
                                            {% endif %}
                                            {% if row['type'] == 'Auction' %}
                                                <i class='fa fa-bank'></i>
                                            {% endif %}
                                            {{ row['type'] }}
                                        </td>
                                        <td>{{ row['status'] }}</td>
                                        <td>{{ row['station'] }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-contracts-inactive" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Type
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right dropdown-contracts">
                                <li><a href="{{ base_url('contracts/index/' ~ character_id ~ '?inactive=all&active=' ~ actives_filter ~ '&aggr=' ~ aggregate) }}">All</a></li>
                                <li><a href="{{ base_url('contracts/index/' ~ character_id ~ '?inactive=ItemExchange&active=' ~ actives_filter ~ '&aggr=' ~ aggregate) }}">Item Exchange</a></li>
                                <li><a href="{{ base_url('contracts/index/' ~ character_id ~ '?inactive=Courier&active=' ~ actives_filter ~ '&aggr=' ~ aggregate) }}">Courier</a></li>
                                <li><a href="{{ base_url('contracts/index/' ~ character_id ~ '?inactive=Loan&active=' ~ actives_filter ~ '&aggr=' ~ aggregate) }}">Loan</a></li>
                                <li><a href="{{ base_url('contracts/index/' ~ character_id ~ '?inactive=Auction&active=' ~ actives_filter ~ '&aggr=' ~ aggregate) }}">Auction</a></li>
                            </ul>
                        </div>
                        <div class="panel-tools">
                        </div>
                    </div>
                    <br>
                    <div class="panel-body contracts-inactive-body">
                        <h5>Inactive {{ inactives_filter }} Contracts</h5>
                        <p class="yellow"></p>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="contracts-inactive-table">
                                <thead>
                                    <tr>
                                        <th>Creation Time</th>
                                        <th>Expiration Time</th>
                                        <th>Issuer</th>
                                        <th>Acceptor</th>
                                        <th>Availability</th>
                                        <th>Price</th>
                                        <th>Reward</th>
                                        <th>Type</th>
                                        <th>State</th>
                                        <th>Station</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for row in inactives %}
                                    <tr>
                                        <td>{{ row['creation'] }}</td>
                                        <td>{{ row['expiration'] }}</td>
                                        <td>{{ row['issuer_name'] }}</td>
                                        <td>{{ row['acceptor_name'] }}</td>
                                        <td>{{ row['avail'] }}</td>
                                        <td>{{ row['price']  | number_format(2) }}</td>
                                        <td>{{ row['reward'] | number_format(2) }}</td>
                                        <td>
                                            {% if row['type'] == 'ItemExchange' %}
                                                <i class='fa fa-eur'></i>
                                            {% endif %}
                                            {% if row['type'] == 'Courier' %}
                                                <i class='fa fa-truck'></i>
                                            {% endif %}
                                            {% if row['type'] == 'Loan' %}
                                                <i class='fa fa-credit-card-alt'></i>
                                            {% endif %}
                                            {% if row['type'] == 'Auction' %}
                                                <i class='fa fa-bank'></i>
                                            {% endif %}
                                            {{ row['type'] }}
                                        </td>
                                        <td>{{ row['status'] }}</td>
                                        <td>{{ row['station'] }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{{ base_url('dist/js/apps/contracts-app.js') }}?v={{HASH_CACHE}}"></script>